<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sinatra Omniauth Example</title>
</head>
<body>

<% if signed_in? %>
  <p>
    <img src="<%= current_user.avatar_url %>">
    Signed in with <%= current_user.provider.capitalize %> as <%= current_user.email %>.
    <a href="/sign_out">Sign out</a>
  </p>
<% end %>


<%= styled_flash %>

<%= yield %>

</body>
</html>
